@import '../vars'
@media (min-width:minWidthPhone)

  .topbar
    fixed: left right
    height: topBarHeight
    z-index: zIndexTopBar
    font-size: 30px
    color: cGrayC
    background-color: cBaseDark

    i
      float: left
      width: 100px
      padding-left: sidePadding
      line-height: topBarHeight
      cursor: pointer

