@import '../vars'
@media (min-width:minWidthPhone)

  .topbar
    fixed: left right
    height: topBarHeight
    line-height: topBarHeight
    padding-left: sidePadding
    z-index: zIndexTopBar
    font-size: 24px
    cursor: pointer
    color: cGrayC
    background-color: cBaseDark

