@import '../vars'
@media (min-width:minWidthPhone)
  div.views
    fixed: top topBarHeight left right
    height: 100%
    overflow: auto
    background-color: cGrayD
    h2.views-title
      width: 100%
      margin: 10px auto
      text-align: center
    div.views-pane
      width: 100%
      height: 100%
      margin: 0 auto topBarHeight + 10px
      div.view-frame-full
        width: 100%
      div.view-frame-left, div.view-frame-right
        width: 95%
        height: 100%
        margin: 0 auto topBarHeight + 10px
      div.view-content
        height: 100%
        padding: 15px
        background-color: white
      div.view-content.ng-enter
        transition: all 0.3s
        opacity: 0
      div.view-content.ng-enter-active
        opacity: 1

@media (min-width:minWidthTablet)
  div.views
    h2.views-title, div.views-pane
      width: 900px
      div.view-frame-full
        padding: 15px
      div.view-frame-left,
      div.view-frame-right
        width: 50%
        padding: 15px
      div.view-frame-left
        float: left
      div.view-frame-right
        float: right

