
// Extra small devices (phones, 0px and up)
minWidthPhone = 0

// Layout - menu horizontal arrangement
mainMenuWidth = 320px
sidePadding = 35px
mainMenuSlide = -(mainMenuWidth)
noHeadingTabs = 3
noFooterTabs = 3
menuHeadingWidth = 100 / noHeadingTabs + '%'
menuFooterWidth = 100 / noFooterTabs + '%'

// Layout - menu vertical arrangement
topBarHeight = 60px
menuGroupTabsHeight = 50px
menuGroupTitleHeight = 40px
menuButtonHeight = 50px
menuFooterHeight = 45px
menuItemsTopOffset = menuGroupTabsHeight + menuGroupTitleHeight
menuItemsBottomOffset = menuGroupTabsHeight + menuFooterHeight + 10px

zIndexTopBar = zIndexMenu = 10

// Colors
cGrayC = #ccc
cBase = #30426a
cBaseDark = darken(cBase, 5)
cBaseLight = lighten(cBase, 5)
cBaseLighter = lighten(cBase, 30)
cBaseTrans = transparentify(cBase, 0.98)

