div.views(ng-cloak ng-click='nav.closeUserMenu()')
  h2.views-title {{ viewName }}
  div.views-pane
    div.view-frame-full(ng-class='{hidden: !isFullView}')
      div.view-content(ui-view='full') Loading...
    div.view-frame-left(ng-class='{hidden: !isLeftView}')
      div.view-content(ui-view='list') Loading...
    div.view-frame-right(ng-class='{hidden: !isRightView}')
      div.view-content(ui-view='details') Loading...

