
div.menu(ng-cloak ng-controller='MenuController as menuCtrl' ng-class="{'slide-menu': toggleMenu}")
  ul.menu-headings.clearfix
    li(ng-repeat='heading in menuCtrl.headings' ng-click='menuCtrl.selectMenu(heading)')
      i.fa(class='fa-{{ heading.icon }}' ng-class="{'menu-active': menuCtrl.isActiveHeading(heading)}")
  div.menu-heading {{ menuCtrl.menu.heading }}
  ul.menu-items
    li(ng-repeat='view in menuCtrl.menu.views')
      a.menu-active(ng-click='menuCtrl.selectView(view)')
        i.fa(class='fa-{{ view.icon }}' ng-class="{'menu-active': menuCtrl.isActiveMenu(view)}")
        span.menu-name {{ view.name }}

